__pycache__/
*.py[cod]

.venv/
venv/
env/

.env
.env.*

wandb/
*.log
MUJOCO_LOG.TXT
train/runs/mount/
train/runs/
train/downloads/
train/.jax_cache/
train/runs/slurm-*.out
train/runs/slurm-*.err
*.pt
*.pkl
*.pickle

.idea/
.vscode/
.DS_Store
